@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is a list of products will be updated via GitHub</h1>
    <table>
        <tr>
            <th>
                Product Id
            </th>

            <th>
                Product Name
            </th>

            <th>
                Quantity
            </th>
        </tr>

        @foreach(var product in Model.Products)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.ProductName</td>
                <td>@product.Quantity</td>
            </tr>
        }
    </table>
    
</div>
